.DS_Store

/build/
/tags

node_modules
/.vscode/
lib/core/metadata.js
lib/core/MetadataBlog.js
src/.vscode/*
website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
